{% extends "layout.html" %} {% block content %}
<!--CARROUSEL-->
<section>
  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/img/home/4.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/21.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/44.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/30.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/74.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/120.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/54.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/98.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/110.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/88.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/29.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/109.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/116.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/49.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/76.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/67.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/99.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/126.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="static/img/home/119.jpg" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleRide"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleRide"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!--MENU-->
<div class="menu-btn">
  <i class = "menutxt">MENÚ</i>
  <i class="fas fa-bars" id="menubtn"></i>
</div>
<div class="side-bar">
  <div class="close-btn">
    <i class="fas fa-times"></i>
  </div>
  <div class="menu">
    <div class="item">
      <a class="sub-btn"
        ><i class="fas fa-table"></i>RAID 2023<i
          class="fas fa-angle-right dropdown"
        ></i
      ></a>
      <div class="sub-menu">
        <a href="/casupa" class="sub-item"
          >13° edición "Deporte y tradición" Club social Casupá</a
        >
        <a href="/grecco" class="sub-item">22° edición "Pueblo Grecco"</a>
        <a href="/vergara" class="sub-item">34° RAID FEDERADO "COCO" CUADRADO</a>
        <a href="/nicobatlle" class="sub-item">38° edicion RAID "LIBERTAD O MUERTE" NicoBatlle</a>
        <a href="/caraguata" class="sub-item">28° edición RAID "La union hace la fuerza" Caraguatá</a>
        <a href="/corrales" class="sub-item">3° edición RAID "Del Rotary Club" Minas de Corrales</a>
        <!--
        <a href="#" class="sub-item">Sub Item 02</a>
        <a href="#" class="sub-item">Sub Item 03</a>
        <a href="#" class="sub-item">Sub Item 04</a>
        <a href="#" class="sub-item">Sub Item 05</a>
        <a href="#" class="sub-item">Sub Item 06</a>
      -->
      </div>
    </div>
    <div class="item">
      <a class="sub-btn"
        ><i class="fas fa-table"></i>PRUEBAS CORTAS 2023
        <i class="fas fa-angle-right dropdown"></i>
      </a>
      <div class="sub-menu">
        <a href="/pruebascorrales" class="sub-item">Pista "Las Gateras" Minas de Corrales - Rivera - 12 y 13 de Agosto</a>
        <!--
        <a href="#" class="sub-item">Sub Item 01</a>
        <a href="#" class="sub-item">Sub Item 02</a>
        <a href="#" class="sub-item">Sub Item 03</a>
        <a href="#" class="sub-item">Sub Item 04</a>
        <a href="#" class="sub-item">Sub Item 05</a>
        <a href="#" class="sub-item">Sub Item 06</a>
        -->
      </div>
    </div>
    <div class="item">
      <a href="/informacion"><i class="fas fa-info-circle"></i>Información</a>
    </div>
  </div>
</div>
<!--MAIN ALBUM-->
<div class="ful-img" id="fulImgBox">
  <img src="static/img/home/1.jpg" id="fulImg" alt="" />
  <span onclick="closeImg()">X</span>
</div>
<div class="img-gallery" id="album"></div>
<script>
  let n = 126; //numero de imagenes
  let gallery = document.getElementById("album");
  for (let i = 1; i <= n; i++) {
    gallery.innerHTML +=
      '<img src="static/img/home/' +
      i +
      '.jpg" onclick="openFulImg(this.src)">';
  }
</script>
{% endblock %}
